.card__delete {
  width: 18px;
  height: 20px;
  background-image: url('../../../images/trash.svg');
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  top: 18px;
  right: 15px;
  z-index: 1;
  border: none;
  display:none;
}

.card__delete:hover {
  opacity: .6;
  cursor: pointer;
}